<h1>About Us</h1>
<p>
    <a href="http://rentamountainbike.com/">Rent a Mountain Bike</a>
    is an online rental bike shop specialized in mountain bike. 
    We have various mountain bike for your adventure.
</p>