<% if user_signed_in? %>
<h1>Thank you for Signing In</h1>
<% else %>
<div class="center hero-unit">
    <h1>Welcome to Rent a Mountain Bike</h1>

    <h2>
      Sign up now and find the perfect rental mountain bike for your adventure
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
</div>
<% end %>